{% extends 'base/base.html' %}
{% load static %}

{% block head %}
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
    <main role="main" class="container">

        <div class="blog-post">
          <h2 class="blog-post-title">{{ post.title }}</h2>
          <p class="blog-post-meta">{{ post.publish_date_pretty }}</p>
          <img class="img-fluid" src="{{ post.image.url }}" height="200" width="200"/>
          <p class="text-break">{{ post.body_short }}</p>
        </div><!-- /.blog-post -->

    </main><!-- /.container -->

{% endblock %}
